h1, h2, h3, h4{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

a{
  font-family: 'Comfortaa', cursive;
}
p{
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}
.container{
  margin-top: 120px;
}
