h1, h2, h3, h4{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

a{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}
p{
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}
spam{
  font-family: 'Comfortaa', cursive;
  font-weight: 1000;
  font-size: 24px;
  color:#11698E;
}
.container{
  margin-top: 120px;
}
