 .bg-1{
    background-color: rgb(233, 235, 238);
    background-size: cover;
    margin-top: 55px;
  }

  .first-banner {
    background-size: cover;
    background-position: center;
    height: 800px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgb(90, 87, 87);
    text-align: center;
    display: grid;

      h1{
        color: white;
        font-size: 90px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font: bold;
        margin-top: 100px;
      }

      h3 {
        color: white;
        opacity: 0.9;
        margin: 0 10px;
      }

      h4{
        color: rgb(255, 255, 255);
        opacity: .7;
      }

     .buttons-first{
        padding: 40px ;
        background-color: #16C79A;
        text-decoration: none;
        color: white;
        &:hover{
        background-color: #1de2b1;
      }
    }
  }

.landpage-btn-quote {
  position:relative;
  .landpage-btn{
    position:absolute;
    top:90%;
    left: 20%;
  }

  .landpage-quote{
    position:absolute;
    bottom: 0px;
    right: 3%;
  }
}

.frontpage-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.content{
  align-items: center;
  justify-content: center;
}

.slider-wrapper {
  font-size: 30px;
  color:#aaa;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.slider-text1 {
  background-color: lightgreen;
  animation: slide 5s linear infinite;

}
.slider-text2 {
  background-color: skyblue;
}
.slider-text3 {
  background-color: lightcoral;
}

.slider div {
  color:#fff;
  height: 50px;
  margin-bottom: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-left: 10px;
}

.slider{
  height: 60px;
  width: 160px ;
  padding-left:15px;
  overflow: hidden;   /* hide the text outside the slider div area */
}

@keyframes slide {
  0% {margin-top:-300px;}
  33% {margin-top:-200px;}
  66% {margin-top:-100px;}
  100% {margin-top:0px;}
}

@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-200px;}  /* 5% delay */
  33% {margin-top:-200px;}
  38% {margin-top:-100px;} /* 5% delay */
  66% {margin-top:-100px;}
  71% {margin-top:0px;} /* 5% delay */
  100% {margin-top:0px;}
}



// Middle section

.middle-banner {
  background-size: cover;
  display: flex;
  h1{
   color: rgb(87, 84, 84);
      font-size: 70px;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font: bold;
      width: 50%;
  }
  .container {
  display: flex; /* or inline-flex */
  }
}

// tird banner

.bg-3{
  background-color:#F8F1F1;
  padding: 30px 0px;
}

.tird-banner{
  background-color:#F8F1F1;
  padding-bottom: 30px;
  margin: 30px 100px;
  background-size: cover;
  align-items: center;
  h3{
    color: rgb(27, 26, 26);
      font-size: 45px;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font: bold;
  }
  .fas{
    color: #16C79A;
    font-size: 50px;
  }

  .container {
  display: flex; /* or inline-flex */
  }
}

.card-sample{
  padding-left: 30px;
}
.items-div{
  align-items: center;
}

.einstein{
  height: 510px;
  width: 380px;
}

.gifcards{
  height: 340px;
  width: 604px;
  box-shadow: 0px 4px 9px lightgray;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
   .first-banner{
     height: 550px;
     h1{
       font-size: 45px;
       margin-top: 0px;
      }
      h3{
        font-size: 20px;
      }
      .buttons-first{
        padding: 17px;
      }
      h4{
        display: none;
      }
    }

    .landpage-btn-quote {

      .landpage-btn{
        position:absolute;
        top:80%;
        left: 4%;
      }
    }

    .slider-wrapper {
      font-size: 25px;
    }

    .gifcards{
     margin-bottom: 35px;
    }

    .middle-banner{
      h1{
        font-size: 40px;
        width: 100%;
      }
      .container {
        display: block; /* or inline-flex */
        margin-top: 60px;
      }

      .einstein{
      height: 100%;
      width: 100%;
      padding-bottom: 20px;
      padding-top: 20px;
      height: 408px;
      width: 304px;
      }
    }


    .tird-banner{
      margin: 0px;
      .container {
        display: block; /* or inline-flex */
        margin-top: 40px;
      }
      .gifcards{
        width: 100%;
        height: 100%;
      }
      h3{
        font-size: 10px;
      }
    }
  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   .first-banner{
     h1{
       font-size: 60px;
     }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .first-banner{
     h1{
       font-size: 80px;
     }
   }
}
