.carousel-item{

  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.carousel-item h1 {
  color: white;
  font-size: 80px;
}

.carousel-item p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  font-size: 80px;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

.middle-banner {
  background-color: rgb(252, 251, 251);
  padding: 150px 0;
  background-size: cover;
}

.middle-banner h1 {
  color: black;
  font-size: 60px;
}

.tird-banner{
  background-color:#FFF7AE;
  padding: 210px 0;
  background-size: cover;
  align-items: center;
}

.card-sample{
  padding-left: 30px;
}
.items-div{
  align-items: center;
}
