.carousel-item{
  background-size: cover;
  background-position: center;
}

.carousel-item h1 {
  color: rgb(3, 3, 3);
  font-size: 80px;
  font-weight: bold;
  padding-right: 300px;
}

.carousel-item p {
  color: rgb(19, 18, 18);
  opacity: .7;
  font-size: 20px;
  padding-right: 300px;
}

.carousel-caption{
  position: absolute;
  bottom: 30%;
  left: 5%;
  color: white;
}


.middle-banner {
  background-color: rgb(252, 251, 251);
  padding: 100px 0;
  background-size: cover;
}

.middle-banner h1 {
  color: black;
  font-size: 60px;
  margin-bottom: 110px;
}

.tird-banner{
  background-color:#FFF7AE;
  padding: 210px 0;
  background-size: cover;
  align-items: center;
}

.card-sample{
  padding-left: 30px;
}
.items-div{
  align-items: center;
}
