// .wrapper {
//     position: relative;
//     overflow: hidden;
//     width: 600px;
//     height: 370px;
// }

// .wrapper2 {
//     position: relative;
//     overflow: hidden;
//     width: 600px;
//     height: 370px;
// }

// #slide {
//     position: absolute;
//     left: -600px;
//     width: 600px;
//     height: 370px;
//     -webkit-animation: slide 0.8s forwards;
//     -webkit-animation-delay: 1s;
//     animation: slide 0.8s forwards;
//     animation-delay: 1s;

// }

// @-webkit-keyframes slide {
//     100% { left: 0; }
// }

// // @keyframes slide {
// //     100% { left: 0; }
// // }

// #slide2 {
//     position: absolute;
//     left: 600px;
//     width: 600px;
//     height: 370px;
//     -webkit-animation: slide 0.9s forwards;
//     -webkit-animation-delay: 1s;
//     animation: slide 0.9s forwards;
//     animation-delay: 1s;
//     padding: 24px;
//     margin-top: 40px;
// }
