.overall-dashboard{
  span{
    font-size: 36px;
    font-weight: bold;
    color: #16c79a;
  }

  padding:32px;
  box-shadow: 2px 2px 16px lightgray;

}


.deck-dashboard {
  span{
    font-weight: bold;
    color: #16c79a;
  }
    padding: 24px 0;


}

.list-collection{
  margin-bottom: 3px;
  background-color: white;
}

.deck-item{
  display: flow-root;
  justify-content: space-between;

  margin-block-end: 3px;
  background-color: #11698e;
  margin: 18px 0;


  &:hover{
    background-color: #11698eb9;
  }
  .btn{
    width: 100%;
    color:white;
  }
}

.card-collection{
  margin-bottom: 3px;
  background-color: white;
}

#deck-info-dashboard{
  display: flex;
  justify-content: space-between;
  margin: 0;
  /* background-color: #FFF7AE; */
  padding: 8px;
  /* background-size: inherit; */
}

#deck-session-dashboard{
  position: relative;
  margin: inherit;
  padding: 8px;
  #deck-session-info {
    position: absolute;
    top: 9px;
    left: 4px;
    text-align: justify;
    padding: 20px 60px;
    box-shadow: 0px 0px 18px lightgrey;
  }
  #btns {
    display: grid;
    position: absolute;
    top: 16px;
    right: 110px;
    gap: 5px;
    border: dashed 1px lightgrey;
    padding: 20px;


  }

  .btn{
    font-weight: bold;
    width: 100%;
    background-color: #16c79a;
    color: white;
    &:hover {
      background-color: #16c79bab;
    }
  }
  .btn-deck-info{
    width: 100%;
    background-color: #f8f1f1;
    color: rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: #f8f1f1;
      color:black;
    }
  }


}

@media (max-width: 789px)
  {
    #deck-session-dashboard{
      display:flex;
      justify-content: space-around;
      #deck-session-info{
        position: relative;
        top:auto;
        left:auto;
      }
      #btns{
        position: relative;
        top:auto;
        right:auto;
        margin: 8px;

      }
    }
    p {
      margin: 0;
    }
  }
