.my-collection {

}

.list-collection{
  border: solid 2px #297F87;
  border: solid 2px #297F87;
  border-radius: 8px;
  margin-bottom: 3px;
  background-color: white;
}

.deck-item{
  display: flow-root;;
  justify-content: space-between;
  border: solid 2px #297F87;
  border-radius: 8px;
  margin-bottom: 3px;
  margin-block-end: 3px;
  background-color: white;
}

.card-collection{
  border: solid 2px #297F87;
  border: solid 2px #297F87;
  border-radius: 8px;
  margin-bottom: 3px;
  background-color: white;
}
