
<div class="bg-1">
  <div class="first-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631247177/working_-_co%CC%81pia_j53udl.jpg); margin-top: none">
      <div style="margin-top:123px">
            <h1>LEARN EFFECTIVELY</h1>
            <div class="slider-wrapper">
              <div class="slider">
                <div class="slider-text1">Create</div>
                <div class="slider-text2">Study</div>
                <div class="slider-text3">Sell</div>
              </div>
              <div>
                <h3> professional Flashcards!</h3>
              </div>
            </div>
      </div>

      <div class="landpage-btn-quote">
          <div class="landpage-btn">
            <%= link_to 'Create a card', new_path, class: 'btn btn-primary btn-lg m-4 ', class:"buttons-first" %>
            <%= link_to 'Find a flashcard', search_path, class: 'btn btn-primary btn-lg ', class:"buttons-first" %>
          </div>
          <div class="landpage-quote">
            <h4 class="text-right">Sophia Gosh:</h4>
            <h4>"Studycards is the reason I'm a public attorney now!"</h4>
          </div>
      </div>
  </div>
</div>

    <div class="middle-banner">
        <div class="container">
          <div class="">
            <h1 class="text-center">Proven as the most effective way to memorize anything!</h1>
          </div>
          <div class="">
            <div id="">
              <%= cl_image_tag("albert-einstein-se-1128a_ffaqox",
                  class:"einstein" )%>
                  <figcaption style="margin-top: 10px;">
                    <h3 class="text-center">"Space repetition is an ancient method of learning"</h3>
                  </figcaption>
            </div>
          </div>
        </div>
  </div>
  <div class="bg-3">
    <div class="tird-banner">
        <div class="container align-items-center justify-content-between">
          <div class= "">
            <%= cl_image_tag("giphy_ggy9zs",
                  class:"gifcards")%>
          </div>
          <div class="">
            <div>
              <div class="align-items-center frontpage-grid ">
                <i class="fas fa-rocket m-4  text-center"></i>
                <h3>Easy and simple to use</h3>
              </div>

              <div class="align-items-center frontpage-grid ">
                <i class="fas fa-book m-4  text-center"></i>
                <h3>High quality flashcards</h3>
              </div>

              <div class="align-items-center frontpage-grid ">
                <i class="fas fa-money-bill-alt m-4  text-center"></i>
                <h3>Make money with your flashcards</h3>
              </div>

              <div class="align-items-center frontpage-grid">
                <i class="fas fa-chart-line m-4  text-center"></i>
                <h3>Track your progress</h3>
              </div>

            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <p>All rights reserved</p>
      </div>
  </div>
