
<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('<%= image_path "studying.jpg" %>');">
      <div class="container text-center">

        <h1>StudyCards</h1>
        <p>Revolutionize the way you learn!</p>
        <%= link_to 'Create a card', new_path, class: 'btn btn-primary btn-lg mt-5' %>
        <%= link_to 'Find a flashcard', search_path, class: 'btn btn-primary btn-lg mt-5' %>

      </div>
  </div>



  <div class="middle-banner">
      <div class="text-center">
        <div>
          <h1>See how it works</h1>
        </div>

        <div class= "middle-gif">
          <iframe src="https://giphy.com/embed/IPbS5R4fSUl5S" width="480" height="266" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
        </div>
      </div>

  </div>

  <div class="tird-banner">
    <div class="d-flex align-items-center container justify-content-around">
      <div class= "middle-gif card-sample">
        <iframe src="https://giphy.com/embed/IPbS5R4fSUl5S" width="384" height="213" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
      </div>

      <div>
        <h3>Worry only about studying</h3>
        <h3>Professional flashcards tailored for YOU!</h3>
        <h3>But if your cheap you can create them your own!</h3>
      </div>
    </div>
  </div>

  <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <p>All rights reserved</p>
      </div>
    </div>
</div>
