
  <div class="bg-1">
    <div class="first-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631250509/working_rgwjve.png); margin-top: none">
        <div class="content">
          <div class="row">
            <div class="slider-wrapper">
              <div>
                <h1>Achieve your</h1>
              </div>
              <div class="slider">
                <div class="slider-text1">goals!</div>
                <div class="slider-text2">dreams!</div>
                <div class="slider-text3">Whatever you want!</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <h4 style="margin-right: 500px;   margin-botton: 1000px;
          ">Revolusionize the way you learn with flashcards</h4>
        </div>

        <div class="float-left row">
          <%= link_to 'Create a card', new_path, class: 'btn btn-primary btn-lg m-4 ', class:"buttons-first" %>
          <%= link_to 'Find a flashcard', search_path, class: 'btn btn-primary btn-lg ', class:"buttons-first" %>
        </div>
    </div>
  </div>


  <div class="middle-banner">
      <div class="text-center">
      <h1>How it works?</h1>
      </div>
        <div class="d-flex container align-items-center justify-content-around">
          <div class= "middle-gif card-sample wrapper">
            <iframe id="slide" src="https://giphy.com/embed/IPbS5R4fSUl5S" width="384" height="213" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
          </div>
          <div class="wrapper2">
            <div id="slide2">
                <h3>Using the space repetition technik</h3>
                <h3>You can learn anything</h3>
                <h3>In record time!</h3>
                <%= link_to 'Try it now!', search_path, class: 'btn btn-primary btn-lg mt-5' %>
            </div>
          </div>
        </div>


  </div>

  <div class="tird-banner">
    <h1>What are specialists are saying?</h1>
  </div>

  <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <p>All rights reserved</p>
      </div>
    </div>
