.Payment {

.statuspay{
  background-color: #ee3625;
  text-align: center;

  color: white;
  border-radius: 3px;
  font: bold;
}
.crazy {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html,
  body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  body {
    background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1));
  }


  /*--------------------
  Buttons
  --------------------*/
  .btn {

      background-color:#16c79a;
      font-weight: bold;
      color:white;
      letter-spacing: 00.05rem;
      &:hover {
        background-color:#16c79bbe;
      }


    &:hover::after {
      background: hsla(0, 0, 0, 0.1);
      box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
    }

  }

  }
  .the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px;

    img {
      max-width: 100%;
    }
  }
}

.crazy {


    * { margin: 0; padding: 0; box-sizing: border-box; }

    $font-head: "Space Mono", sans-serif;
    $font-txt: "Lato", sans-serif;
    $small: 0.8rem;
    $blue: #11698E;
    $yellow: lemonchiffon;

    html,
    body {
      height: 100%;
      font-size: 16px;
      font-weight: 400; }

    //body { padding: 0.5rem !important; }

    html,
    body,
    button,
    input[type="text"] { font-family: $font-txt;  }

    .center-wrapper {
      padding: 0.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 100%; }

    .content {
      margin: 0 auto;
      max-width: 600px;
      border: 1px solid $yellow;
      background: white; }

    nav,
    .top-bar,
    .bag,
    .bag-total,
    .help { padding: 0.5rem 1rem; }

    nav,
    a,
    .btn-go-checkout { color: white; }

    nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #11698E;  }

    a {
      padding: 0.2rem 0.5rem;
      border: 2px solid white;
      text-decoration: none; }

    .logo { font-family: $font-head; }

    .logo,
    button { text-transform: uppercase; }

    .fa-search,
    .fa-arrow-left,
    .fa-lock { margin-right: 1rem; }

    .top-bar,
    .bag-head::after,
    .bag-total::before { background: whitesmoke; }

    .bag-head::after,
    .bag-total::before,
    .btn-remove { display: block; }

    .bag-head::after,
    .bag-total::before,
    .description-text,
    .promo-checkbox { margin: 0.5rem 0; }

    .bag-head::after,


    .muted { color: grey; }

    .change-delivery,
    ::placeholder,
    .product-code,
    .help { font-size: $small; }

    h1 { font-size: 1.2rem; }

    h2 { font-size: 1.0rem; }

    .image {
      width: 40%;
      img.product-image { max-width: 100%; } }

    .description {
      padding-right: 1rem;
      width: 60%; }



    select,
    button,
    input[type="text"] { height: 40px; }

    button {
      cursor: pointer;
      width: 200px;
      background: none;
      border-radius: 4px; }


    .bag-product{
      display: grid;
      grid-template-columns: minmax(10px, 1.5fr) minmax(10px, 1fr);
    }
    .quantity-wrapper,
    .subtotal,
    .delivery,
    .total,
    .promo-code {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

    .subtotal,
    .delivery,
    input[type="checkbox"],
    .help { margin-bottom: 0.5rem; }

    .total { margin-bottom: 1rem; }

}
