<div>
  <p>Sessions Completed</p>
  <p><%= @overall_info[:number_of_sessions] %></p>
</div>
  <div>
  <p>Cards Completed:</p>
  <span ><%=@overall_info[:cards_done]%></span> / <span id="0102"><%=@overall_info[:total_n_of_cards]%></span>
  </div>
<div>
  <p>Overall Knowledge:</p>
  <p><%= @overall_info[:overall_grade] %></p>
</div>
