<div>
  <p>Sessions Completed</p>
  <p><%= @overall_info[:number_of_sessions] %></p>
</div>
  <div>
  <p>Cards Completed:</p>
  <p><%=@overall_info[:cards_done]%> / <%=@overall_info[:total_n_of_cards]%></p>
  </div>
<div>
  <p>Overall Knowledge:</p>
  <p><%= @overall_info[:overall_grade] %></p>
</div>
