<div class="container text-center">
  <h2>My Marketplace</h2>
  <hr>
  <div class="my-collection row d-flex justify-content-between" style="min-height: 330px;">
    <div class="list-collection col-4 p-3">

      <% var = -1 %>
      <% @my_deck_market.each do |deck| %>
        <div class="deck-item">
          <% var += 1  %>
          <%= link_to "#{deck.title}", marketplace_path(var: var), class: "btn" %>
        </div>
      <% end %>
    </div>
    <div class="list-collection col-8  deck-dashboard">
      <% unless @my_deck_market.empty? %>
        <%= render 'dashboard_market', {var: params[:var]}  %>
      <% end %>
    </div>
  </div>
</div>
