<div class="container text-center my-3">
  <div class="my-collection row d-flex justify-content-between">
    <div class="list-collection col-3">
      <h2>My Market</h2>
      <% @my_deck_market.each do |decks| %>
        <div class="deck-item" style="display: grid; grid-template-columns: 1fr">
          <%= link_to "#{decks.deck.title}", show_path(decks.deck), class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
    <% unless @my_deck_market.empty? %>
      <%= render 'dashboard_market'  %>
    <% end %>
  </div>
  <div class="my-collection d-flex justify-content-between row">
    <div class="card-collection col">
      <div class="text-left">
        <p>Total decks sold:</p>
        <p>Mean price paid:</p>
        <p>Net earnings:</p>
      </div>
      <div class="text-center">
        <%= link_to "Withdraw", "#", class: "btn btn-info" %>
      </div>
    </div>
  </div>

</div>
