<div class="container text-center">
  <div class="my-collection row d-flex justify-content-between">
    <div class="list-collection col-4">
      <h1>My Marketplace</h1>
      <% var = -1 %>
      <% @my_deck_market.each do |deck| %>
        <div class="deck-item">
          <% var += 1  %>
          <%= link_to "#{deck.title}", marketplace_path(var: var), class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
    <div class="list-collection col-8">
      <% unless @my_deck_market.empty? %>
        <%= render 'dashboard_market', {var: params[:var]}  %>
      <% end %>
    </div>
    <div class="card-collection col my-2">
      <div class="row" style="justify-content:center;"><h4><strong><%= current_user.name %>'s</strong> Dashboard</h4></div>
      <div class="row" style="justify-content:space-around">

      </div>
    </div>
  </div>
</div>
