
<div class="container text-center my-3">

  <div class="my-collection row d-flex justify-content-between">

    <div class="list-collection col-6">
      <h1>My collection</h1>
      <% @deck_community.each do |decks| %>
        <div class="deck-item">
          <%= link_to "#{decks.deck.title}", show_path(decks.deck) %>
          <%= link_to "Study this deck", new_study_path(decks) %>
          <div class="text-center "><%= link_to "", decks, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %></div>
        </div>
      <% end %>
    </div>

    <div class="col ">
      <div class="card-collection col">
        <h1>Texto 1</h1>
        <h2>Texto 2</h2>
        <h3>texto 3</h3>
      </div>
      <div class="card-collection col">
        <h1>Texto 1</h1>
        <h2>Texto 2</h2>
        <h3>texto 3</h3>
      </div>
    </div>

  </div>

</div>
