<div class="container text-center my-3">
  <div class="my-collection row d-flex justify-content-between">
    <div class="list-collection col-4">
      <h1>My collection</h1>
      <% var = -1 %>
      <% @deck_community.each do |decks| %>
        <div class="deck-item">
          <% var += 1  %>
          <%= link_to "#{decks.deck.title} (#{decks.deck.availability})", deck_community_path(deck_community_id: decks, var: var), class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
    <div class="list-collection col-8">
      <% unless @deck_community.empty? %>
        <%= render 'dashboard', {var: params[:var]}  %>
      <% end %>
    </div>
    <div class="card-collection col">
        <h3><%= @deck_community[var.to_i].deck.title%></h3>
        <h4>Deck:</h4>
        <h4>Score:</h4>
    </div>
  </div>
</div>
