.deck-header {
  display: grid;
  grid-template-columns: minmax(10px, 1.5fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr);
  text-align: center;
  font-weight: 400;
  margin-bottom: 3px;

}

.deck {
  display: grid;
  grid-template-columns: minmax(10px, 1.5fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr);
  text-align: center;
  height: 64px;
  align-content: center;
  border: solid 2px #297F87;
  border-radius: 8px;
  margin: 8px;
  &:hover {
    box-shadow: 2px 2px 16px #297F87;
    margin: 8px -8px;
  }


}

#search-header {
  border-radius: 20px;
  border: solid 1px;
  background-color: #FFF7AE;
  font-size: large;
  padding: 2px;
}
