.deck-header {
  display: grid;
  grid-template-columns: minmax(10px, 1.5fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr);
  text-align: center;
  font-weight: 400;
  margin-bottom: 3px;

}

.deck {
  display: grid;
  grid-template-columns: minmax(10px, 1.5fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr);
  text-align: center;
  height: 64px;
  align-content: center;
  border: solid 2px #297F87;
  border-radius: 8px;
  margin: 8px;
  &:hover {
    box-shadow: 2px 2px 16px #297F87;
    margin: 8px -8px;
  }


  &:hover a {
    color: white;
  }

}


#search-header {
  border-radius: 20px;
  border: solid 1px;
  background-color: #FFF7AE;
  font-size: large;
  padding: 2px;
}

.card-category {
  margin-top: 100px;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  cursor: pointer;
  text-decoration: none;

  &:hover {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 10px black;
  letter-spacing: 0.01rem;
  }
}
