
.form-show-deck {
    background-color: white;
    margin-top: 30px;
    padding: 25px 40px;
    border-radius: 4px;
    h2{
      font-weight: bold ;
      font-size: 40px;
      margin-bottom: 20px;
      text-align: center;
    }
    h1{
      font-weight: bold ;
      font-size: 55px;
      margin-bottom: 30px;
      text-align: center;
    }
    .btn{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    }
    h4 {
      width: 100%;
      text-align: center;
    }

}
