<div class="container">
  <h3>Card Creator</h3>
  <div class="card-creator">
  <%= simple_form_for @card, url: create_card_path(params[:id]) do |f| %>
  <%= f.input :front_page %>
  <%= f.input :back_page %>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
