.crazy {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html,
  body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  body {
    background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1));
  }


  /*--------------------
  Buttons
  --------------------*/
  .btn {
      background-color:#16c79a;
      font-weight: bold;
      color:white;
      letter-spacing: 00.05rem;
      &:hover {
        background-color:#16c79bbe;
      }


    &:hover::after {
      background: hsla(0, 0, 0, 0.1);
      box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
    }

  }

  /*--------------------
  Form
  --------------------*/
  .form {

    fieldset {
      border: none;
      padding: 0;
      padding: 10px 0;
      position: relative;
      clear: both;

      &.fieldset-expiration {
        float: left;
        width: 60%;

        & .select {
          width: 84px;
          margin-right: 12px;
          float: left;
        }
      }

      &.fieldset-ccv {
        clear: none;
        float: right;
        width: 86px;
      }

      label {
        display: block;
        text-transform: uppercase;
        font-size: 11px;
        color: hsla(0, 0, 0, .6);
        margin-bottom: 5px;
        font-weight: bold;
        font-family: Inconsolata;
      }

      input,
      .select {
        width: 100%;
        height: 38px;
        color: hsl(0, 0, 20);
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        outline: none!important;
        border: 1px solid hsla(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);

        &.input-cart-number {
          width: 82px;
          display: inline-block;
          margin-right: 8px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .select {
        position: relative;

        &::after {
          content: '';
          border-top: 8px solid #222;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          position: absolute;
          z-index: 2;
          top: 14px;
          right: 10px;
          pointer-events: none;
        }

        select {
          appearance: none;
          position: absolute;
          padding: 0;
          border: none;
          width: 100%;
          outline: none!important;
          top: 6px;
          left: 6px;
          background: none;

          :-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
          }

        }
      }


    }

    .btn-button {
      width: 100%;
      outline: none!important;
      background: linear-gradient(180deg, #49a09b, #3d8291);
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      box-shadow: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      margin-top: 90px;

      & .fa {
        margin-right: 6px;
      }
    }

  }

  /*--------------------
  Checkout
  --------------------*/
  .checkout {
    margin: 150px auto 30px;
    position: relative;
    width: 460px;
    background: white;
    border-radius: 15px;
    padding: 160px 45px 30px;
    box-shadow: 0 10px 40px hsla(0, 0, 0, .1);
  }

  /*--------------------
  Credit Card
  --------------------*/
  .credit-card-box {
    perspective: 1000;
    width: 400px;
    height: 280px;
    position: absolute;
    top: -112px;
    left: 50%;
    transform: translateX(-50%);

    &:hover .flip,
    &.hover .flip {
      transform: rotateY(180deg);
    }

    .front,
    .back {
      width: 400px;
      height: 250px;
      border-radius: 15px;
      backface-visibility: hidden;
      background: linear-gradient(135deg, #bd6772, #53223f);
      position: absolute;
      color: #fff;
      font-family: Inconsolata;
      top: 0;
      left: 0;
      text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
      box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
        background-size: cover;
        opacity: .05;
      }
    }

    .flip {
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
    }

    .logo {
      position: absolute;
      top: 9px;
      right: 20px;
      width: 60px;

      svg {
        width: 100%;
        height: auto;
        fill: #fff;
      }
    }

    .front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    .back {
      transform: rotateY(180deg);

      .logo {
        top: 185px;
      }

    }

    .chip {
      position: absolute;
      width: 60px;
      height: 45px;
      top: 20px;
      left: 20px;
      background: linear-gradient(135deg, hsl(269,54%,87%) 0%,hsl(200,64%,89%) 44%,hsl(18,55%,94%) 100%);;
      border-radius: 8px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 4px solid hsla(0, 0, 50, .1);
        width: 80%;
        height: 70%;
        border-radius: 5px;
      }
    }

    .strip {
      background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
      position: absolute;
      width: 100%;
      height: 50px;
      top: 30px;
      left: 0;
    }

    .number {
      position: absolute;
      margin: 0 auto;
      top: 103px;
      left: 19px;
      font-size: 38px;
    }

    label {
      font-size: 10px;
      letter-spacing: 1px;
      text-shadow: none;
      text-transform: uppercase;
      font-weight: normal;
      opacity: 0.5;
      display: block;
      margin-bottom: 3px;
    }

    .card-holder,
    .card-expiration-date {
      position: absolute;
      margin: 0 auto;
      top: 180px;
      left: 19px;
      font-size: 22px;
      text-transform: capitalize;
    }

    .card-expiration-date {
      text-align: right;
      left: auto;
      right: 20px;
    }

    .ccv {
      height: 36px;
      background: #fff;
      width: 91%;
      border-radius: 5px;
      top: 110px;
      left: 0;
      right: 0;
      position: absolute;
      margin: 0 auto;
      color: #000;
      text-align: right;
      padding: 10px;

      label {
        margin: -25px 0 14px;
        color: #fff;
      }
    }


  }


  .the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px;

    img {
      max-width: 100%;
    }
  }
}

.crazy {


    * { margin: 0; padding: 0; box-sizing: border-box; }

    $font-head: "Space Mono", sans-serif;
    $font-txt: "Lato", sans-serif;
    $small: 0.8rem;
    $blue: dodgerblue;
    $yellow: lemonchiffon;

    html,
    body {
      height: 100%;
      font-size: 16px;
      font-weight: 400; }

    //body { padding: 0.5rem !important; }

    html,
    body,
    button,
    input[type="text"] { font-family: $font-txt;  }

    .center-wrapper {
      padding: 0.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 100%; }

    .content {
      margin: 0 auto;
      max-width: 600px;
      border: 1px solid $yellow;
      background: white; }

    nav,
    .top-bar,
    .bag,
    .bag-total,
    .help { padding: 0.5rem 1rem; }

    nav,
    a,
    .btn-go-checkout { color: white; }

    nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #11698E;  }

    a {
      padding: 0.2rem 0.5rem;
      border: 2px solid white;
      text-decoration: none; }

    .logo { font-family: $font-head; }

    .logo,
    button { text-transform: uppercase; }

    .fa-search,
    .fa-arrow-left,
    .fa-lock { margin-right: 1rem; }

    .top-bar,
    .bag-head::after,
    .bag-total::before { background: whitesmoke; }

    .bag-head::after,
    .bag-total::before,
    .btn-remove { display: block; }

    .bag-head::after,
    .bag-total::before,
    .description-text,
    .promo-checkbox { margin: 0.5rem 0; }

    .bag-head::after,


    .muted { color: grey; }

    .change-delivery,
    ::placeholder,
    .product-code,
    .help { font-size: $small; }

    h1 { font-size: 1.6rem; }

    h2 { font-size: 1.4rem; }

    .image {
      width: 40%;
      img.product-image { max-width: 100%; } }

    .description {
      padding-right: 1rem;
      width: 60%; }

    select {
      padding: 0.3rem;
      width: 60px; }

    select,
    button,
    input[type="text"] { height: 40px; }

    button {
      cursor: pointer;
      width: 100px;
      background: none;
      border-radius: 4px; }

    .quantity-wrapper {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      margin: 1rem 0 0.5rem; }

    select {
      width: 50px;
      margin-right: 1rem; }

    .bag-product{
      display: grid;
      grid-template-columns: minmax(10px, 1.5fr) minmax(10px, 1fr);
    }
    .quantity-wrapper,
    .subtotal,
    .delivery,
    .total,
    .promo-code {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

    .subtotal,
    .delivery,
    input[type="checkbox"],
    .help { margin-bottom: 0.5rem; }

    .total { margin-bottom: 1rem; }



    input[type="text"],
    .btn-go-checkout { font-size: 1rem; }

    input[type="text"] {
      width: calc(100% - 100px - 1rem);
      padding: 0.5rem; }

    .btn-go-checkout {
      margin-top: 1rem;
      width: 100%;
      height: 40px;
      box-shadow: 0 3px 6px 2px darken(whitesmoke, 10%); }

    .help {	text-align: center; }

    html {
      background: repeating-linear-gradient(
        -45deg,
        $yellow,
        $yellow 10px,
        darken($yellow, 10%) 10px,
        darken($yellow, 10%) 20px,
      ); }
}
