.crazy {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html,
  body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  body {
    background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1));
  }


  /*--------------------
  Buttons
  --------------------*/
  .promocode {
    padding: 20px;
    background-color: rgb(136, 101, 101) ;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .btn {
    display: block;
    background: hsl(86, 16%, 43%);
    color: hsl(0, 0, 100);
    text-decoration: none;
    margin: 20px 0;
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all .5s ease-in-out;
      box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0), 0 3px 3px hsla(0, 0, 0, .2);
      border-radius: 5px;
    }

    &:hover::after {
      background: hsla(0, 0, 0, 0.1);
      box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
    }

  }

  /*--------------------
  Form
  --------------------*/
  .form {
    .btn-button {
      width: 100%;
      outline: none!important;
      background: linear-gradient(180deg, #49a09b, #3d8291);
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      box-shadow: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      margin-top: 90px;

      & .fa {
        margin-right: 6px;
      }
    }

  }

  /*--------------------
  Checkout
  --------------------*/
  .checkout {
    margin: 150px auto 30px;
    position: relative;
    width: 460px;
    background: white;
    border-radius: 15px;
    padding: 160px 45px 30px;
    box-shadow: 0 10px 40px hsla(0, 0, 0, .1);
  }

  /*--------------------
  Credit Card
  --------------------*/
  .credit-card-box {
    perspective: 1000;
    width: 400px;
    height: 280px;
    position: absolute;
    top: -112px;
    left: 50%;
    transform: translateX(-50%);

    &:hover .flip,
    &.hover .flip {
      transform: rotateY(180deg);
    }


    .back {
      width: 400px;
      height: 250px;
      border-radius: 15px;
      backface-visibility: hidden;
      background: linear-gradient(135deg, #a08c8e, #b37f9e);
      position: absolute;
      color: #fff;
      font-family: Inconsolata;
      top: 0;
      left: 0;
      background-image: url("10offf.png");

      box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);

      &::before {

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        opacity: .05;
      }
    }

    .front {
      width: 400px;
      height: 250px;
      border-radius: 15px;
      backface-visibility: hidden;
      background: linear-gradient(135deg, #a08c8e, #b37f9e);
      position: absolute;
      color: #fff;
      font-family: Inconsolata;
      top: 0;
      left: 0;
      background-image: url("promocode.png");

      box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);

      &::before {

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        opacity: .05;
      }
    }

    .flip {
      transition: 1.0s;
      transform-style: preserve-3d;
      position: relative;
    }

    .front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    .back {
      transform: rotateY(180deg);

    }
  }
}

.payment {


    * { margin: 0; padding: 0; box-sizing: border-box; }

    $font-head: "Space Mono", sans-serif;
    $font-txt: "Lato", sans-serif;
    $small: 0.8rem;
    $blue: dodgerblue;
    $violet: lighten(rebeccapurple, 20%);
    $yellow: lemonchiffon;

    html,
    body {
      height: 100%;
      font-size: 16px;
      font-weight: 400; }

    //body { padding: 0.5rem !important; }

    html,
    body,
    button,
    input[type="text"] { font-family: $font-txt;  }

    .center-wrapper {
      padding: 0.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 100%; }

    .content {
      margin: 0 auto;
      max-width: 600px;
      border: 1px solid $yellow;
      background: white; }

    nav,
    .top-bar,
    .bag,
    .bag-total,
    .help { padding: 0.5rem 1rem; }

    nav,
    a,
    .btn-go-checkout { color: white; }

    nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: $blue;  }

    a {
      padding: 0.2rem 0.5rem;
      border: 2px solid white;
      text-decoration: none; }

    .logo { font-family: $font-head; }

    .logo,
    button { text-transform: uppercase; }

    .fa-search,
    .fa-arrow-left,
    .fa-lock { margin-right: 1rem; }

    .top-bar,
    .bag-head::after,
    .bag-total::before { background: whitesmoke; }

    .bag-head::after,
    .bag-total::before,
    .btn-remove { display: block; }

    .bag-head::after,
    .bag-total::before,
    .description-text,
    .promo-checkbox { margin: 0.5rem 0; }

    .bag-head::after,
    .bag-total::before {
      content: "";
      width: 100%;
      height: 3px; }

    .muted { color: grey; }

    .change-delivery,
    ::placeholder,
    .product-code,
    .help { font-size: $small; }

    h1 { font-size: 1.6rem; }

    h2 { font-size: 1.4rem; }

    .image {
      width: 40%;
      img.product-image { max-width: 100%; } }

    .description {
      padding-right: 1rem;
      width: 60%; }

    select {
      padding: 0.3rem;
      width: 60px; }

    select,
    button,
    input[type="text"] { height: 40px; }

    button {
      cursor: pointer;
      width: 100px;
      background: none;
      border: 2px solid $violet;
      border-radius: 4px; }

    .quantity-wrapper {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      margin: 1rem 0 0.5rem; }

    select {
      width: 50px;
      margin-right: 1rem; }

    .bag-product,
    .quantity-wrapper,
    .subtotal,
    .delivery,
    .total,
    .promo-code {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

    .subtotal,
    .delivery,
    input[type="checkbox"],
    .help { margin-bottom: 0.5rem; }

    .total { margin-bottom: 1rem; }

    button,
    .change-delivery { color: $violet; }

    input[type="text"],
    .btn-go-checkout { font-size: 1rem; }

    input[type="text"] {
      width: calc(100% - 100px - 1rem);
      padding: 0.5rem; }

    .btn-go-checkout {
      margin-top: 1rem;
      width: 100%;
      height: 40px;
      background: $violet;
      box-shadow: 0 3px 6px 2px darken(whitesmoke, 10%); }

    .help {	text-align: center; }

    html {
      background: repeating-linear-gradient(
        -45deg,
        $yellow,
        $yellow 10px,
        darken($yellow, 10%) 10px,
        darken($yellow, 10%) 20px,
      ); }
}
