.footer {
  background: #19456B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 10px 90px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
  color: white;
}
.footer-links a {
  opacity: 0.4;
  color: #297F87;
  text-decoration: none;
  font-size: 24px;
  margin: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #16C79A;
}
