.form-login {
  background-color: white;
  margin-top: 30px;
  padding: 25px 40px;
  border-radius: 4px;
  h2{
    font-weight: bold ;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn{
  width: 100%;
  margin-bottom: 30px;
  margin-top: 15px;
}

}
