.form-login {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 0px;
    padding: 0px 40px;
    border-radius: 4px;
    h2{
      text-align: center;
    }

}
#create-deck-btn {
  margin-bottom: 0px;
}

.form-group, .form-control {
  font-family: 'Comfortaa', cursive;
  font-weight: 600  ;

}
fieldset {
  display: flex;
  justify-content: space-around;

}
.form-check-label {
      color: black!important;
    }
