.navbar-lewagon {
  justify-content: space-between;
  background: #297F87;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}


 .search-button > div {
   display: inline-block
  }

  .nav-link{
    background-color: #FFF7AE;
    margin-left: 10px;
  }

  .form-group {
    margin-bottom: 0;
  }

  #logo{
    width: 180px;
    height: 65px;
    background: url(logo3.jpg);
    mix-blend-mode: multiply;
  }
 #navbar-button{
   background-color: white;
   border-left: none !important;
 }
