
.navbar {
  box-shadow: 0px 1px 10px black;
}
.navbar-lewagon {
  justify-content: space-between;
  background: #11698E;
  position: fixed;
  z-index: 150;
  width: 100%;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

 .search-button > div {
   display: inline-block
  }
  .nav-item{
    margin: 5px;
  }

  .nav-link{
    background-color: #F8F1F1;
    height: 38px;
    padding: 10px;
  }

  .form-group {
    margin-bottom: 0;
  }

  #logo{
    width: 180px;
    height: 65px;
    background: url(logo3.jpg);
    mix-blend-mode: multiply;
  }
 #navbar-button{
   background-color: #16c79a;
   color: white;
   &:hover {
        background-color:#16c79bbe;
      }
 }
