<div class="container">
  <h1>criar novo deck</h1>
  <div>
    <%= simple_form_for @deck, url: create_path do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
