
<div style="background-color: #F3F1F5; padding-bottom: 350px;">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
     <div class="form-show-deck">
          <h2>Title: <%= @deck.title %></h2>
          <h4>Description: <%= @deck.description %></h4>
        <div>
          <%= link_to "Add more cards", new_card_path(params[:id]), class: "btn btn-info" %>
          <%= link_to "Add to my collection", addcollection_path(params[:id]), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>
