.review {
  position:absolute;
  height: 500px;
  width: 500px;

  .btn-primary {
    border-radius: 2.22rem;
    cursor: pointer;
    min-width: 5.16rem;
    &:hover{
      background-color: forestgreen;
    }
  }
}

.img_review{
  box-shadow: 5px 5px 5px black;
  margin-bottom: 20px;
}
