.btn-primary {
background-color: forestgreen;
border-radius: 2.22rem;
cursor: pointer;
min-width: 5.16rem;
}

.review {
  position:absolute;
}

.img_review{
  box-shadow: 5px 5px 5px forestgreen;
  margin-bottom: 20px;
}
